language: php

php:

  - 7.3

notifications:
  on_success: never
  on_failure: always
cache:
  directories:
    - $HOME/ .composer/cache/files
    - vendor

script:
  - vendor/bin/phpunit tests --coverage-text
notifications:
    email:
        - willicam09@hotmail.com