language: php

php:

  - 7.3

before_script:
  - composer install --dev

notifications:
  on_success: never
  on_failure: always
cache:
  directories:
    - $HOME/ .composer/cache/files
    - vendor

script:
  - vendor/bin/phpunit --configuration phpunit.xml
notifications:
    email:
        - willicam09@hotmail.com